<h4><%= link_to recipe.name, recipe %></h4><br>
<%= image_tag(recipe.photo_url, alt: recipe.name ) %>
<p><strong>Kitchen:</strong> <%= recipe.kitchen.name %></p>
<p><strong>Food type:</strong> <%= recipe.food_type.name%></p>
<p><strong>Preference:</strong> <%= recipe.preference.title %></p>
<p><strong>Difficulty:</strong> <%= recipe.difficulty %></p>
<br>
<hr>
