<div id="main-container" class="container">
  <div class="row">
    <div id="content" class="col-xs-12 col-sm-6 col-m-8">
      <h2> Cozinhas Favoritas </h2>
      <%= render @user.likes%>
      <h2>Receitas Favoritas</h2>
      <%= render @user.favorites%>
      <h2> Receitas Publicadas </h2>
      <%= render @user.recipes%>
    </div>
    <div id="sidebar" class="col-xs-6 col-m-4">
      <h2><%= @user.name %></h2>
      <p><%= @user.location %></p><br>
      <p><%= @user.email %></p><br>
      <p><%= @user.twitter %></p><br>
      <p><%= @user.facebook %></p><br>
    </div>
  </div>
</div>
