<h2><%= @user.name %></h2>
<p><%= @user.location %></p><br>
<p><%= @user.email %></p><br>
<p><%= @user.twitter %></p><br>
<p><%= @user.facebook %></p><br>


<h2>Receitas Favoritas</h2>
<%= render @user.favorites%>

<h2> Receitas Publicadas </h2>
<%= render @user.recipes%>
