<h2>Receitas Favoritadas</h2>
<% @favorites.each do |recipe| %>
  <%= render recipe%>
<% end  %>

<h2> Receitas adicionadas recentemente</h2>
<% @recipes.each do |recipe| %>
  <%= render recipe%>
<% end  %>

<aside>
  <% @kitchens.each do |kitchen| %>
    <%= link_to kitchen.name, kitchen_path(kitchen) %>
  <% end %>

  <% @food_types.each do |food_type| %>
    <%= link_to food_type.name, food_type_path(food_type) %>
  <% end %>

  <% @preferences.each do |preference| %>
    <%= link_to preference.title, preference_path(preference) %>
  <% end %>
</aside>
