<span class="error_message"><%= flash[:alert] %></span>
<%= form_for @preference do |f| %>
  <div class="form_group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form_group">
    <%= f.submit submit_text, class: 'btn btn-primary' %>
  </div>
<% end %>
