<!DOCTYPE html>
<html>
<head>
  <title>SocialRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
         <a class="navbar-brand" href="<% root_path %>">Social Recipes</a>
         <p class="navbar-text navbar-right">
         </p>
      </div>
    </nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
