<!DOCTYPE html>
<html>
<head>
  <title>SocialRecipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <nav class='navbar navbar-default navbar-fixed-top'>
      <div class='container'>
         <%= link_to 'Social Recipe', root_path, class: 'navbar-brand' %>
         <p class='navbar-text navbar-right'>
            <% if user_signed_in? %>
              <%= link_to ' Olá, ' + current_user.email, user_path(current_user), class:'glyphicon glyphicon-cog'%>
            <% end %>
            <%= link_to ' Sign Up', new_user_registration_path , class:'glyphicon glyphicon-user'%>
            <%= link_to ' Login', new_user_session_path, class:'glyphicon glyphicon-log-in'%>
         </p>
      </div>
    </nav>

  <p class='notice'><%= notice %></p>
  <p class='alert'><%= alert %></p>
<%= yield %>

</body>
</html>
